<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>JSON-BREAD</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">BREAD(Browse, Read, Edit, Add, Delete)</div>
      <div class="title2">Filters</div>

      <div class="form">
        <form action="" method="get">
        <div class="inputfield">
          <input type="checkbox" id="id" name="id" value="ID" />
          <label for="id"> ID</label>
          <input type="text" placeholder="ID" /><br />
        </div>

        <div class="inputfield">
          <input type="checkbox" id="string" name="vehicle2" value="String" />
          <label for="string"> String</label>
          <input type="text" placeholder="String" /><br />
        </div>

        <div class="inputfield">
          <input type="checkbox" id="integer" name="integer" value="Integer" />
          <label for="integer"> Integer</label>
          <input type="text" placeholder="Integer" /><br />
        </div>

        <div class="inputfield">
          <input type="checkbox" id="float" name="float" value="Float" />
          <label for="float"> Float</label>
          <input type="text" placeholder="Float" /><br />
        </div>

        <div class="inputfield">
          <input type="checkbox" id="date" name="date" value="Date" />
          <label for="date"> Date</label>
          <input type="date" placeholder="Start Date" /><br />
        </div>

        <div class="inputfield">
          <input type="checkbox" id="date" name="date" value="Date" />
          <label for="boolean"> Boolean</label>
          <select name="boolean" id="boolean">
            <option selected disabled>Choose the boolean ...</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
        </div>

        <div class="inputfield">
          <button type="submit">Search</button>
          
        </div>
      </form>

        <table>
          <tr>
            <th>ID</th>
            <th>String</th>
            <th>Integer</th>
            <th>Float</th>
            <th>Date</th>
            <th>Boolean</th>
            <th>Actions</th>
          </tr>

          <% daftarSiswa.forEach((item, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= item.string %></td>
            <td><%= item.integer %></td>
            <td><%= item.float %></td>
            <td><%= item.date %></td>
            <td><%= item.boolean %></td>
            <td>
              <a id= 'btn-edit' href="/edit/<%= index%>">Edit</a>
              <a id= 'btn-delete' href="/delete/<%= index%>">Delete</a>
            </td>
          </tr>
          <% }) %>
        </table>
        <a id="btn-add" href="/add">Add</a>
      </div>
    </div>
  </body>
</html>
